{% extends 'main.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
      <h1>Register</h1>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="name" required><br>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required><br>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required><br>
  
      <label for="mobile"><b>Mobile</b></label>
      <input type="mobile" placeholder="Mobile Number" name="mobile" id="mobile" required><br>

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Address" name="address" id="address" required><br>

      <label for="profile_pic"><b>Profile Pic</b></label>
      <input type="file" placeholder="Upload Image" name="profile_pic" id="profile_pic"><br>
      <input type="checkbox" id="superuser" name="superuser" value="True">
      <label for="superuser">Issuperuser</label><br>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
  </form>
{% endblock %}